@model FhaFacilitiesApplication.Models.ViewModel.DashboardViewModel

@{
    bool hasData = Model.Buildings != null && Model.Buildings.Any();
}

<div class="title d-flex justify-content-between align-items-center gap-3 pb-3">
    <h6 class="mb-0">
        <span><i class="fa-solid fa-building"></i></span> Select Building
    </h6>
    <div class="d-flex gap-2 add-edit-btns">
        <button class="btn delete"
                id="btnDeleteBuilding"
                data-rel="tooltip"
                title="Delete"
                disabled>
            <i class="fa-solid fa-trash"></i>
        </button>
        <button class="btn edit"
                id="btnEditBuilding"
                data-rel="tooltip"
                title="Edit"
                disabled>
            <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button class="btn add"
                id="btnAddBuilding"
                data-rel="tooltip"
                title="Add" disabled>
            <i class="fa-solid fa-plus"></i>
        </button>
    </div>
</div>

@if (hasData)
{
    <div class="form-check-list">
        @foreach (var building in Model.Buildings)
        {
            <div class="form-check">
                <input class="form-check-input"
                       type="radio"
                       value="@building.UniqueId"
                       name="buildingRadio"
                       data-unique-guid="@building.UniqueGUID"
                       id="building_@building.UniqueId" />
                <label class="form-check-label" for="building_@building.UniqueId">
                    @building.BuildingId (@building.Designation)
                </label>
            </div>
        }
    </div>
}
else
{
    <div class="no-data h-100">
        <div class="d-flex justify-content-center align-items-center flex-column gap-4 text-center p-3 h-100">
            <img src="./images/no-data.png"
                 class="img-fluid"
                 alt="No Data" />
            <p class="mb-0">Select a campus to see available buildings</p>
        </div>
    </div>
}

<div class="modal fade" id="delete-building-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable delete-modal modal-lg">
        <div class="modal-content py-4">
            <div class="modal-body text-center">
                <img src="./images/delete.png" class="img-fluid mb-4" alt="Delete" />
                <h6 class="mb-3 fw-medium">
                    Are you sure you want to delete this item?
                </h6>
                <p class="mb-4">
                    This action cannot be undone. The item will be permanently removed.
                </p>
                <div class="d-flex gap-3 justify-content-center">
                    <button type="button" class="btn btn-gray" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button" id="btnDeleteBuildingProceed" class="btn btn-red-2">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
